.companies {
  &__hero {
    width: 100%;
    height: 100vh;
    max-height: 640px;
    min-height: 500px;
    position: relative;
    margin-block-end: 120px;
  }

  &__hero-background {
    width: 100%;
    height: 100%;
  }

  &__hero-background-mask {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.56) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__hero-content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 15px;

    > h1 {
      color: white;
      font-size: 72px;
      text-transform: uppercase;
      line-height: 100%;
      font-weight: 600;
      margin-block-end: 16px;
    }

    > p {
      font-size: 20px;
      max-width: 800px;
      text-align: center;
      color: white;
      line-height: 140%;
      margin-block-end: 46px;
    }
  }

  &__our-companies {
    margin-block-end: 120px;
  }

  &__our-companies-header {
    margin-block-end: 36px;

    > h2 {
      text-transform: uppercase;
      color: #1e1c23;
      font-size: 48px;
      line-height: 100%;
      margin-block-end: 12px;
    }

    > p {
      color: #1e1c23;
      max-width: 630px;
    }
  }

  &__our-companies-list {
    display: grid;
    column-gap: 24px;
    row-gap: 48px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }

  &__our-companies-list-item {
    width: 100%;

    > h5 {
      color: #1e1c23;
      font-size: 32px;
      text-align: center;
      margin-block-end: 12px;
      line-height: 100%;
      transition: color 400ms ease;
    }

    > p {
      color: #1e1c23;
      text-align: center;
    }

    &:hover {
      > h5 {
        color: #bf2025;
      }
      .companies__our-companies-list-item-image > img {
        transform: scale(1.025);
      }
    }
  }

  &__our-companies-list-item-image {
    height: 300px;
    overflow: hidden;
    border-radius: 3px;
    margin-block-end: 18px;

    > img {
      transform: scale(1);
      transition: transform 400ms ease;
    }
  }

  &__we-have-worked {
    margin-block-end: 200px;
    display: flex;
    column-gap: 40px;
  }

  &__we-have-worked-header {
    flex: 1;

    > h3 {
      font-size: 48px;
      line-height: 140%;
      max-width: 520px;
    }
  }

  &__we-have-worked-content {
    max-width: 600px;
    line-height: 160%;
    color: #1e1c23;
  }
}
