.home {
  &__hero-container {
    margin-block-end: 120px;
  }

  &__hero-section {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    min-height: 600px;
    position: relative;
  }

  &__main-slider {
    .slick-active.slick-current {
      .home__hero-background-image {
        animation: image-scaler-animation 20s forwards;
      }
    }
  }

  &__hero-background {
    width: 100%;
    height: 100%;
  }

  &__hero-background-image {
    transform-origin: 75% 75%;
  }

  &__hero-background-mask {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.56) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__hero-content {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__hero-content-container {
    margin-block-start: 160px;

    h2 {
      color: white;
      max-width: 544px;
      margin-block-end: 26px;
    }

    p {
      color: white;
      max-width: 470px;
      letter-spacing: 0.5px;
      margin-block-end: 40px;
    }
  }

  &__hero-thumbs {
    border-radius: 3px;
    position: relative;
    top: -209px;
    margin-block-end: -200px;
    background: white;
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.21);

    .slick-active.slick-current {
      .home__hero-thumb-card {
        border-color: #bf2025;
        background-color: #bf2025;
      }

      .home__hero-thumb-card-image img {
        filter: invert(100%);
      }

      .home__hero-thumb-card-title,
      .home__hero-thumb-card-paragraph {
        color: white;
      }
    }
  }

  &__hero-thumb-card {
    width: 100%;
    height: 410px;
    padding-block-start: 54px;
    padding-block-end: 24px;
    padding-inline: 24px;
    border-right: 1px solid #e1dfdf;
    background-color: white;
    transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: background-color, border-color;
  }

  &__hero-thumb-card-image {
    width: 64px;
    height: 64px;
    margin-block-end: 34px;

    img {
      transition: filter 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }

  &__hero-thumb-card-title {
    font-size: 32px;
    font-weight: 400;
    margin-block-end: 20px;
    color: #49494b;
    transition: color 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  &__hero-thumb-card-paragraph {
    color: #49494b;
    transition: color 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  &__hero-thumb-actions-container {
    z-index: 1;
    width: calc(100% + 60px);
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__hero-thumb-action {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 4px 12px 1px #00000036;
    -webkit-box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.21);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: background-color, color;

    &--active {
      color: white;
      background-color: #bf2025;

      .home__hero-thumb-action-icon {
        transform: translateX(3px);
      }
      .home__hero-thumb-action-icon--prev {
        transform: rotate(0.5turn) translateX(3px);
      }
    }
  }

  &__hero-thumb-action-icon {
    transition: transform 300ms ease;
    transform: translateX(0);

    &--prev {
      transform: rotate(0.5turn);
    }
  }

  &__chairman {
    height: 610px;
    margin-block-end: 120px;
    display: flex;
    background-color: #f4f4f4;
  }

  &__chairman-image {
    width: 470px;
  }

  &__chairman-content {
    flex: 1;
    padding-block-start: 60px;
    padding-inline-start: 100px;

    span {
      color: #1e1c23;
      font-size: 14px;
    }

    h1 {
      font-size: 32px;
      color: #bf2025;
      line-height: 32px;
      margin-block-end: 32px;
      font-weight: 500;
    }

    p {
      color: #1e1c23;
      font-size: 18px;
      max-width: 373px;
      line-height: 140%;
      max-height: 400px;
      overflow-y: auto;
    }
  }

  &__partners {
    margin-block-end: 200px;
  }

  &__about-us {
    display: flex;
    column-gap: 40px;
    margin-block-end: 120px;
  }

  &__about-us-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    > span {
      font-size: 18px;
      color: #1e1c23;
      display: block; 
    }

    > h4 {
      font-size: 40px;
      color: #00203f;
      margin-block-end: 28px; 
    }

    > p {
      font-size: 18px;
      max-width: 730px;
      margin-block-end: 40px;
    }
  }

  &__about-us-image {
    max-width: 50%;
    max-height: 580px;
    border-radius: 3px;
    overflow: hidden;
  }

  &__companies {
    margin-block-end: 120px;
  }

  &__companies-header {
    margin-block-end: 30px;

    h2 {
      font-size: 48px;
      color: #1e1c23;
      line-height: 100%;
      margin-block-end: 16px;
      text-transform: uppercase;
    }

    p {
      line-height: 140%;
      color: #1e1c23;
      max-width: 630px;
    }
  }

  &__companies-cards {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(24, 1fr);
  }

  &__companies-card-item {
    grid-column: 11 span;

    &:nth-of-type(1),
    &:nth-of-type(4) {
      grid-column: 13 span;
    }

    &:hover {
      .home__companies-card-item-image-content > h3 {
        color: #bf2025;
      }
      .home__companies-card-item-image > img {
        transform: scale(1.025);
      }
    }
  }

  &__companies-card-item-image {
    height: 300px;
    border-radius: 3px;
    overflow: hidden;
    margin-block-end: 12px;

    > img {
      transform: scale(1);
      transition: transform 400ms ease;
    }
  }

  &__companies-card-item-image-content {
    margin-block-end: 40px;

    > h3 {
      text-transform: uppercase;
      font-size: 32px;
      color: #1e1c23;
      margin-block-end: 8px;
      transition: color 400ms ease;
    }

    > p {
      color: #1e1c23;
      height: 46px;
      overflow-y: auto;
      max-width: 640px;
    }
  }

  &__companies-see-more {
    display: flex;
    justify-content: center;
  }

  &__stats {
    margin-block-end: 120px;
  }
}
