.navbar {
  height: 80px;
  position: relative;
  z-index: 100;
  box-shadow: 0px 4px 4px 0px #d1d5db40;
  background-color: white;
  transition: background-color 300ms ease;

  &--transparent {
    margin-block-end: -80px;
    box-shadow: unset;
    background-color: transparent;

    .navbar__link-item > a {
      color: white;
    }

    .navbar__link-item--active > a {
      text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.1) !important;
    }
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
  }

  &__line {
    width: 2px;
    height: 30px;
    border-radius: 100px;
    background: #d1d5db;
  }

  &__links {
    flex: 1;
    display: flex;
  }

  .navbar__link-item {
    padding-inline: 12px;

    > a {
      opacity: 0.7;
      font-weight: 400;
      text-transform: uppercase;
      transition: all 250ms ease;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0);

      &:hover {
        opacity: 1;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      }
    }

    &--active > a {
      opacity: 1;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
