// Open sans font faces
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/open-sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/open-sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/open-sans/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/open-sans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/open-sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/open-sans/OpenSans-ExtraBold.ttf");
}

// Kurdish Fonts  
@font-face {
  font-family: "kurdish";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/kurdish/regular.ttf");
}
@font-face {
  font-family: "kurdish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/kurdish/bold.ttf");
}

// Arabic Fonts  
@font-face {
  font-family: "arabic";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/arabic/regular.ttf");
}
@font-face {
  font-family: "arabic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/arabic/bold.ttf");
}